.medium {
    background-color: yellow
}
.high {
  background-color: rgb(240, 106, 106)
}
.finished {
    background-color: #25D366;
}
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}
